.btn-wrapper {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #fff;
  color: #293944;
  flex: 1;
  outline: 1px solid #293944;
  cursor: pointer;
}

.btn-wrapper:active:hover {
  background-color: #eee;
}

.operator {
  background-color: #a0f307;
  color: #293944;
}

.operator:active:hover {
  background-color: #71f307;
}
