.clear-btn {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #ddd;
  color: #293944;
  flex: 1;
  outline: 1px solid #293944;
  cursor: pointer;
}

.clear-btn:active:hover {
  background-color: #c9c9c9;
}
